.root {
    -fx-background: #fff;
}

.main-menu-buttons-container {
    -fx-padding: 30 0 0 0;
}

.main-menu-container {
    -fx-padding: 30px 0 0 0;
    -fx-alignment: top-center;
    -fx-pref-width: 300px;
    -fx-background-color: #222;
}

.main-menu-item:active {
    -fx-background-color: #333;
}

.main-menu-item:hover {
    -fx-cursor: hand;
    -fx-background-color: #333;
}

.main-menu-item {
    -fx-pref-height: 50px;
    -fx-pref-width: 300px;
    -fx-text-fill: #fff;
    -fx-background-color: #222;
}

.field-cell {
    -fx-font-size: 25;
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;

    -fx-background-color:  #666, #fff;

    -fx-background-insets: 0, 0 ;
    -fx-text-alignment: center;
    -fx-padding: 5px;
}

.sudoku-input-field {
    -fx-pref-width: 70px;
    -fx-pref-height: 70px;
    -fx-alignment: center;
}

.field-cell:right {
    -fx-background-insets: 0, 0 1 0 0 ;
}

.field-cell:bottom {
    -fx-background-insets: 0, 0 0 1 0 ;
}

.field-cell:right:bottom {
    -fx-background-insets: 0, 0 1 1 0 ;
}

.action-button {
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-font-size: 22;
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
}

.action-button:hover {
    -fx-cursor: hand;
}

.action-button .solve-btn {
    -fx-padding: 10px 0 10px 0;
}

.logo {
    -fx-padding: 20px 0 20px 0;
}

.solve-sudoku-page-content {
    -fx-padding: 100px 0 0 0;
    -fx-alignment: center;
}

.align-center {
    -fx-alignment: center;
}

.generate-sudoku-options {
    -fx-padding: 30px 0 60px 0;
}